[core]
        safecrlf = warn
        autocrlf = input
[credential]
        helper = store
[log]
        date = iso-local
[help]
        autocorrect = 30
[pager]
        branch = false
        config = false
